#inicio{
    width: 300px;
    height: 300px;
    margin-top: 5%;
    margin-left: 42%;
}

#home{
    margin-left: 47%;
}

#e{
    margin-left: 75%;
}

#c{
    margin-left: 70%;
}

#co{
    margin-left: 150%;
}

#datos1{
    margin-left: 30%;
}

#contraseña{
    margin-left: 109%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*